{% extends "base.html" %}

{% block content %}

<div class="profile text-center">
    <div class="profile-pic mb-3">
        <img class="rounded-circle" src="{{ image_file }}">
    </div>
    <div class="profile-info mb-4">
        <h2>Hey there {{ current_user.username }}!</h2>
        <p class="text-secondary">{{ current_user.email }}</p>
    </div>
    <div class="profile-buttons container col-sm-6 col-md-offset-1">
        {% if quotes %}
        <a class="btn btn-primary btn-block" href="{{ url_for('quotes_bp.quotes', username=current_user.username) }}" role="button">View
            Your Quotes</a>
        {% endif %}
        <a class="btn btn-secondary btn-block" href="{{ url_for('users_bp.update_profile') }}" role="button">Update Profile</a>
        <a class="btn btn-secondary btn-block" href="{{ url_for('users_bp.logout') }}" role="button">Logout</a>
    </div>
</div>

{% if not quotes %}
<div class="profile-quotes mt-5 mb-5 text-center">
    <h3>Ready to post your first quote?</h3>
    <a class="btn btn-primary mt-3" href="{{ url_for('quotes_bp.post') }}" role="button">Get Started!</a>
</div>
{% endif %}

{% endblock content %}