{% extends "base.html" %}

{% block content %}

<div class="big-quote text-center">
  <header>
    <i class="fas fa-search"></i>
  </header>
</div>

<div class="container page-title text-center pt-3 pb-3">
  <h2>{{ title }}</h2>
</div>

  <!-- INSERT QUOTES LIST -->
  {% include 'quotes_list.html' %}

  {% if quotes.pages > 1 %}
    <div class="pagination-links text-center mt-5">
      {# <a href="{{ url_for('search_bp.search_results', page=quotes.page - 1) }}">&lt;</a> #}
      {% for page_num in quotes.iter_pages(left_edge=1, left_current=2, right_current=3, right_edge=1) %}
        {% if page_num %}
          {% if quotes.page == page_num %}
            <a class="border-bottom border-primary text-decoration-none" href="{{ url_for('search_bp.search_results', q=tokens, page=page_num) }}">{{ page_num }}</a>
          {% else %}
            <a class="text-decoration-none" href="{{ url_for('search_bp.search_results', q=tokens, page=page_num) }}">{{ page_num }}</a>
          {% endif %}
        {% else %}
          <span class="dotdotdot">...</span>
        {% endif %}
      {% endfor %}
      {# <a href="{{ url_for('search_bp.search_results', page=quotes.page + 1) }}">&gt;</a> #}
    </div>
  {% endif %}

  <!-- SEARCH TOKEN HIGHLIGHTER SCRIPT -->
  {% if tokens %}
<script>
  // remove html encoding from the flask search tokens
  // hat tip to https://gomakethings.com/decoding-html-entities-with-vanilla-javascript/
  var decodeHTML = function (html) {
      var txt = document.createElement('textarea');
      txt.innerHTML = html;
      return txt.value;
  };

  console.log("{{ tokens }}")
  console.log(decodeHTML("{{ tokens }}"))

  // grab all search query tokens from flask
  var tokens = "{{ tokens|replace(' ', '|') }}"; // add regex '|' "or" character
  var tokens = decodeHTML(tokens); // remove html encoding mess from tokens using function above
  var quotes = document.querySelectorAll('[id=quote-content]'); // find all quotes on the page
  
  // loop through all found quotes
  for(var i=0; i<quotes.length; i++) {
    var re_quotes = new RegExp(tokens, "gi"); // find all regex for matching tokens
    var content = quotes[i].innerHTML; // grab the quote content
    content.match(re_quotes).forEach(function(match, i) { // loop over the all token matches in content
      // var re_matches = new RegExp(match + "\\b", "gi"); // replace regex for all whole word token matches
      var re_matches = new RegExp("(?=\\b" + match + "['-]?)([a-zA-Z'-]+)", "gi");
      content = content.replace(re_matches, '<mark>' + match + '</mark>'); // actually replace all token matches
    });
    quotes[i].innerHTML = content; // set quote contect to with updated highlighting
  };
</script>
  {% endif %}

  <!-- INSERT COMMON QUOTE MODALS -->
  {% include 'modals.html' %}

{% endblock content %}