{% extends "base.html" %}

{% block content %}

<div class="big-quote text-center">
  <header>
    <i class="fas fa-heart text-danger"></i>
  </header>
</div>

<div class="container page-title text-center pt-3 pb-3">
  <h2>{{ title }}</h2>
</div>

<div class="container tokens-list text-center pt-4 pb-1">
  {% for token in tokens %}
    {% if not loop.last %}
      <a href="{{ url_for('search_bp.search_results', q=token.token) }}">{{ token.token }} ({{ token.count }})</span></a>,
    {% else %}
      <a href="{{ url_for('search_bp.search_results', q=token.token) }}">{{ token.token }} ({{ token.count }})</span></a>
    {% endif %}
  {% endfor %}
</div>

{% endblock content %}