{% extends "base.html" %}

{% block content %}

<div class="big-quote text-center">
  <header>
    <i class="fas fa-search"></i>
  </header>
</div>

<div class="search-form pt-5">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="input-group mb-3 pl-5 pr-5">
      {{ form.q(class="form-control form-control-lg") }}
      <div class="input-group-append">
        {{ form.submit(class="btn btn-primary") }}
      </div>
    </div>
  </form>
</div>

<div class="container text-center most-loved pt-2">
  <i class="fas fa-heart pr-2 most-loved-heart text-danger"></i>
  <div class="row">
    <div class="col-sm">
      <a href="{{ url_for('search_bp.most_searched') }}">Most Searched Terms</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <a href="{{ url_for('quotes_bp.quotes_love') }}">Most Loved Quotes</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <a href="{{ url_for('authors_bp.author_love') }}">Most Loved Authors</a>
    </div>
  </div>
</div>

{% endblock content %}