{% extends "base.html" %}

{% block content %}

<div class="profile text-center">
  <div class="profile-pic mb-3">
    <img class="rounded-circle" src="{{ image_file }}">
  </div>
  <div class="profile-info mb-4">
    <h2>Hey there {{ current_user.username }}!</h2>
    <p class="text-secondary">{{ current_user.email }}</p>
  </div>
</div>

<div class="update-profile-form">
  <form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Update Your Profile</legend>
      <div class="form-group">
        {{ form.username.label(class="form-control-label") }}
        {% if form.username.errors %}
        {{ form.username(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.username.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.username(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.email.label(class="form-control-label") }}
        {% if form.email.errors %}
        {{ form.email(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.email.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.email(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.picture.label() }}
        <div class="custom-file">
          {{ form.picture(class="custom-file-input") }}
          <label class="custom-file-label form-control-lg" for="customFile">Choose a file</label>
        </div>

        {% if form.picture.errors %}
        {% for error in form.picture.errors %}
        <span class="text-danger">{{ error }}</span></br>
        {% endfor %}
        {% endif %}
      </div>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
</div>

{% endblock content %}